__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/

node_modules/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

backend/database/system_keys/
backend/database/ledger.json
*.log
.DS_Store

.vscode/
.idea/
